/* Null */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* ---------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
}
.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}
.header-logo-span {
  color: #2e2f42;
}
.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.contacts {
}
.contacts-mail,
.contacts-tel {
  color: #434455;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.front {
}
.front-title {
  color: white;
  font-size: 56px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  word-wrap: break-word;
}
.front-button {
  color: white;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  word-wrap: break-word;
}

.quality-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  text-align: center;
}
.quality-text,
.team-text,
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
.quality-title,
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  word-wrap: break-word;
}

.quality {
}
.team {
  background-color: #f4f4fd;
}
.team-items {
  background-color: #ffffff;
}
.portfolio {
}

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.033em;
  word-wrap: break-word;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.005em;
  word-wrap: break-word;
}
