/* Null */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/*----------------------------Other----------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*----------------------------Header----------------------------*/
.header {
}
.header-navigation {
}
.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link:hover,
:focus {
  color: #404bbf;
}

/* Contacts */
.header-contacts {
  font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-data {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-data:hover,
:focus {
  color: #404bbf;
}

/*---------------------------- Section 1 ----------------------------*/
.fullscreen {
  background-color: #2e2f42;
}
.fullscreen-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.fullscreen-btn {
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.fullscreen-btn:hover,
.fullscreen-btn:focus {
  background-color: #404bbf;
}

/*---------------------------- Section 2 ----------------------------*/
.description {
}
.description-title {
}
.description-list {
}
.description-item {
}
.description-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---------------------------- Section 3 ----------------------------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---------------------------- Section 4----------------------------*/
.portfolio {
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-list {
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---------------------------- Footer ----------------------------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
