/* Null */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Other---------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ---------------------------- */

.header {
}
.header-navigation {
}
.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.header-menu-link:hover {
  color: #404bbf;
}
/* Contacts */
.header-contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-mail,
.contacts-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts-mail:hover,
.contacts-tel:hover {
  color: #404bbf;
}

/*---------------------------- Section 1 ----------------------------*/
.fullscreen {
  background-color: #2e2f42;
}
.fullscreen-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
.fullscreen-btn {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

/*---------------------------- Section 2 ----------------------------*/
.description {
}
.description-title {
}
.description-list {
}
.description-item {
}
.description-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.005em;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------------------- Section 3 ----------------------------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.team-list {
}
.team-item {
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.005em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------------------- Section 4----------------------------*/
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.005em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------------------- Footer ----------------------------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.003em;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
	color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
